@font-face {
    font-family: 'CrabSalad';
    src: url(./CrabSalad.woff);
}

body {
    margin: 0;
    min-height: 100vh;
}

.nav {
    height: 90px;
    padding: 30px 40px 40px 40px;
    display: grid;
    grid-template-columns: 100px repeat(3,240px) 1fr;
    background-color: rgba(0, 0, 0, 0.253);
    align-items: center;
    text-align: center;
}

.logo {
    grid-area: 1/1;
    background-color: none;
    text-align: center;
    cursor: pointer;
    font-family: 'CrabSalad';
    font-size: 45px;
    font-weight: bold;
}

.main-links {
    grid-area: 1/2;
    display: flex;
    gap: 20px;
    font-family: 'CrabSalad';
    margin-left: 30px;
}

.main-links > a {
    font-size: 32px;
    cursor: pointer;
}

.order {
    grid-area: 1/5;
    padding: 10px;
    width: 180px;
    justify-self: right;
    border-radius: 15px;
    border-style: none;
    font-size: 30px;
    color: whitesmoke;
    background-color: red;
}


.main-links > a:hover {
    text-decoration: underline;
}

